/* added font link */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;

} */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* start navber section */
.navbar{
    border: 1px solid tomato;
    display: flex;
    justify-content: center;
    align-items: center;
   max-width: 1140px;
    height: auto;
    margin-top: 30px;
    margin-left: 150px;
} 
.unlist-item{
    display: flex;
    list-style: none;
    gap: 70px;
    margin-left: 445px;
    /* width: 350px; */
    padding: 22px;
}
.list-item-home{
   font-size:Bold;
    color:#252432 ;
}
.list-itme{
    color: #8987A1;
}
.list-item-cart{
    color:#000000 ;
}
/* start banner */
.banner-container{
    border: 2px solid tomato;
    display: flex;
    justify-content:  center;
    max-width: 1140px;
    height: auto;
    margin-top: 221px;
    margin-left: 150px;
    gap: 30px;
    background-color: #FFFFFF;

}
.banner-left{
    width: 570px;
    height: auto;
    margin-top: 50px;
    
}
.banner-left h1{
    font-weight: bold;
    font-size: 65px;
}
.banner-left-span{
    color: rgb(233, 90, 8);
}
.banner-left p{
     color: #8987A1;
     font-weight: 400;
     font-size: 22px;
     

}
.banner-right{
    width: 570px;
    height: auto;
    margin-top: 100px;

}


/* plantsh header section */

.plant-header{
    border: 2px solid tomato;
    margin-top: 130px;
    max-width: 1140px;
    height: auto;
     margin-left: 150px;
}
.plant-header span{
     color: rgb(233, 90, 8);

}
.plant-header h1{
    display: flex;
  
    justify-content: center;
    align-items: center;
    font-weight: 700px;
    font-size: 50px;
    gap: 15px;

}
.plant-header p{
    border: 2px solid cadetblue;
    width: 880px;
    height: 53px;
     color: #8987A1;
     font-weight: 400px;
     font-size: 22px;
     margin-left: 120px;
     /* margin-top: 84px; */
     /* display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center ; */
     
}
  /* plants card section */
  .Plants-card-Section{
    border: 2px solid tomato;
    max-width: 1140px;
    height: 1050px;
    margin-left:150px;
    margin-top: 50px;
  }
  .plants-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    box-shadow: 4px 4px 10px  whitesmoke;
 }
 .card-item{
    border: 2px solid rgb(139, 89, 53);
    /* gap: 30px; */
    margin-top: 30px;
    /* margin-left: 10px; */
   text-align: center;
 }
 .card-item h3{
    color: #111111;

 }
 .card-item button{
    background-color:  rgb(233, 90, 8);
    width: 270px;
    height: 50px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
 }
  /* Plants Lover Section */
.Plants-Lover-Section{
    display: flex;
    /* justify-content:center; */
    /* text-align: center; */
    border: 2px solid tan;
    width: 1140px;
    height: 600px;
    margin-left: 150px;
    margin-top: 125px;
    /* gap: 60px; */
}
.plant-img-left{
    width: 540px;
    height: 600px;
}
.plant-text-right{
    width: 540px;
    height: 520px;
    margin-left: 110px;
}
.plant-text-right h1{
   font-weight: 700;
   font-size: 50px;

}
.plant-text-right ul li{
    font-weight: 400;
    font-size: 22px;
    color: #8987A1;

}
/* title section here  */
.title-container{
    border: 2px solid turquoise;
    width: 1140px;
    height: 137px;
    margin-left: 150px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.title-container span{
    color: rgb(233, 90, 8);

}
.title-container h1{
    border: 2px solid tan;
    height: 68px;
    /* font-weight: 700px; */
    font-size: 50px;
}
.title-container p{
    border: 2px solid teal;
    color: #8987A1;
    height: 53px;
    /* font-weight: 400px; */
    font-size: 22px;
}