/* added font link */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;

} */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* start navber section */
.navbar{
    /* border: 1px solid tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
   max-width: 1140px;
    height: auto;
    margin-top: 30px;
    margin-left: 150px;
} 
.unlist-item{
    display: flex;
    list-style: none;
    gap: 70px;
    margin-left: 445px;
    /* width: 350px; */
    padding: 22px;
}
.list-item-home{
   font-size:Bold;
    color:#252432 ;
}
.list-itme{
    color: #8987A1;
}
.list-item-cart{
    color:#000000 ;
}
/* start banner */
.banner-container{
    /* border: 2px solid tomato; */
    display: flex;
    justify-content:  center;
    max-width: 1140px;
    height: auto;
    margin-top: 221px;
    margin-left: 150px;
    gap: 30px;
    background-color: #FFFFFF;

}
.banner-left{
    width: 570px;
    height: auto;
    margin-top: 50px;
    
}
.banner-left h1{
    font-weight: bold;
    font-size: 65px;
}
.banner-left-span{
    color: rgb(233, 90, 8);
}
.banner-left p{
     color: #8987A1;
     font-weight: 400;
     font-size: 22px;
     

}
.banner-right{
    width: 570px;
    height: auto;
    margin-top: 100px;

}


/* plantsh header section */

.plant-header{
    /* border: 2px solid tomato; */
    margin-top: 130px;
    max-width: 1140px;
    height: auto;
     margin-left: 150px;
}
.plant-header span{
     color: rgb(233, 90, 8);

}
.plant-header h1{
    display: flex;
  
    justify-content: center;
    align-items: center;
    font-weight: 700px;
    font-size: 50px;
    gap: 15px;

}
.plant-header p{
    /* border: 2px solid cadetblue; */
    width: 880px;
    height: 53px;
     color: #8987A1;
     font-weight: 400px;
     font-size: 22px;
     margin-left: 120px;
     text-align: center;
     /* margin-top: 84px; */
     /* display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center ; */
     
}
  /* plants card section */
  .Plants-card-Section{
    /* border: 2px solid tomato; */
    max-width: 1140px;
    height: 1050px;
    margin-left:150px;
    margin-top: 50px;
  }
  .plants-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    box-shadow: 4px 4px 10px  whitesmoke;
 }
 .card-item{
    /* border: 2px solid rgb(139, 89, 53); */
    /* gap: 30px; */
    margin-top: 30px;
    /* margin-left: 10px; */
   text-align: center;
 }
 .card-item h3{
    color: #111111;

 }
 .card-item button{
    background-color:  rgb(233, 90, 8);
    width: 270px;
    height: 50px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
 }
  /* Plants Lover Section */
.Plants-Lover-Section{
    display: flex;
    /* justify-content:center; */
    /* text-align: center; */
    /* border: 2px solid tan; */
    width: 1140px;
    height: 600px;
    margin-left: 150px;
    margin-top: 125px;
    /* gap: 60px; */
}
.plant-img-left{
    width: 540px;
    height: 600px;
}
.plant-text-right{
    width: 540px;
    height: 520px;
    margin-left: 110px;
}
.plant-text-right h1{
   font-weight: 700;
   font-size: 50px;

}
.plant-text-right ul li{
    font-weight: 400;
    font-size: 22px;
    color: #8987A1;

}
/* title section here  */
.title-container{
    /* border: 2px solid turquoise; */
    width: 1140px;
    height: auto ;
    margin-left: 150px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.title-container span{
    color: rgb(233, 90, 8);

}
.title-container h1{
    /* border: 2px solid tan; */
    height: 68px;
    /* font-weight: 700px; */
    font-size: 50px;
}
.title-container p{
    /* border: 2px solid teal; */
    color: #8987A1;
    height: 53px;
    /* font-weight: 400px; */
    font-size: 22px;
}
  /* image section start here */
  .img-main-container{
    /* border: 2px solid tomato; */
    width: 1140px;
    height: 425px;
    margin-top: 125px;
    margin-left: 125px;
    display: flex;
    gap: 28px;
    
  }
  .left-img{
     /* border: 2px solid tomato; */
    display: flex;
    flex-direction: column;
    gap: 25px; 
  }
  .left-img-1{
    /* border: 2px solid tomato; */
    background-image: url('../image/deal-ana.png');
    width: 370px;
    height: 200px;
    border-radius: 14px;
    background-color:rgb(200, 200, 200);
    
  }
  .left-img-1 h3{
    font-weight: 700px;
    font-size: 22px;
    color: rgb(255, 255, 255);
     text-align: center;
    align-items: center;
    margin-top: 60px;
  }
  .left-img-1 a{
    font-weight: 600px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-left: 150px;

  }

  .left-img-2{
     /* border: 2px solid tomato; */
     background-image: url('../image/deal-bloom.png');
     width: 370px;
     height: 200px;
    border-radius: 14px;
     background-color: rgb(200, 200, 200);
     
  }
   .left-img-2 h3{
    font-weight: 700px;
    font-size: 22px;
    color: rgb(255, 255, 255);
     text-align: center;
    align-items: center;
    margin-top: 60px;
  }
  .left-img-2 a{
    font-weight: 600px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-left: 150px;

  }

.right-img{
     /* border: 2px solid tomato; */
   background-image: url('../image/deal-zabo.png');
    width: 750px;
    height: 420px;
    border-radius: 14px;
    background-color: rgb(200, 200, 200);
    
}
.right-img h3{
    font-weight: 700px;
    font-size: 40px;
    color: rgb(255, 255, 255);
     text-align: center;
    align-items: center;
    margin-top: 150px;
  }
  .right-img a{
    font-weight: 600px;
    font-size: 28px;
    color: rgb(255, 255, 255);
    margin-left: 300px;
   

  }

/*join-section star here */
.join-section{
    /* border: 2px solid teal; */
    width: 1440px;
    height: 533px;
    /* margin-left: 150px; */
     margin-top: 150px;
    background-image: url('../image/news-letter-bg.png');
    
}
.join-section h1{
    color: #FFFFFF;
    width: 588px;
    height: 68px;
    font-weight: 700;
    font-size: 50px;
    align-items: center;
    text-align: center;
     /* margin: 100px; */

}

.form-section{
    border: 2px solid tomato;
    display: flex;
    justify-content: center;
    width:830px ;
    height: 50px;
    /* margin: 100px; */
    border: none;
}
.input-section{
    width: 644px;
    height: 50px;

}
.form-section button{
    color: rgb(255, 255, 255);
    background-color:rgb(233, 90, 8) ;
    border: none;
    width: 190px;
    height: 50px;
    border-radius: 5px;
    
}
/* footer section start here */
.footer-container{
    /* border: 2px solid tomato; */
    width: 1440px;
    height: 350px;
    /* margin-left: 150px; */
    /* padding: 50px; */
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    
}
.footer-left{
    /* border: 1px solid salmon; */
    width: 360px;
    height: 180px;
    margin-top: 50px;
}
.footer-left p{
    color: #8987A1;
    height: 80px;

}
.footer-muidle ul {
    /* border: 2px solid salmon; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    list-style: none;
    color:#8987A1 ;
    margin-top: 50px;
    gap: 30px;
    
}
.footer-right {
    /* border: 2px solid salmon; */
    margin-top: 50px;
    width: 216px;
    height: 36px;
    /* gap: 100px; */
    display: flex;
    justify-content: space-between;

}
