/* added font link */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;

} */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* start navber section */
.navbar{
    border: 1px solid tomato;
    display: flex;
    justify-content: center;
    align-items: center;
   max-width: 1140px;
    height: auto;
    margin-top: 30px;
    margin-left: 150px;
} 
.unlist-item{
    display: flex;
    list-style: none;
    gap: 70px;
    margin-left: 445px;
    /* width: 350px; */
    padding: 22px;
}
.list-item-home{
   font-size:Bold;
    color:#252432 ;
}
.list-itme{
    color: #8987A1;
}
.list-item-cart{
    color:#000000 ;
}
/* start banner */
.banner-container{
    border: 2px solid tomato;
    display: flex;
    justify-content:  center;
    max-width: 1140px;
    height: auto;
    margin-top: 221px;
    margin-left: 150px;
    gap: 30px;
    background-color: #FFFFFF;

}
.banner-left{
    width: 570px;
    height: auto;
    margin-top: 50px;
    
}
.banner-left h1{
    font-weight: bold;
    font-size: 65px;
}
.banner-left-span{
    color: rgb(233, 90, 8);
}
.banner-left p{
     color: #8987A1;
     font-weight: 400;
     font-size: 22px;
     

}
.banner-right{
    width: 570px;
    height: auto;
    margin-top: 100px;

}